
.item {
  position: absolute;
  transition: all 0.1s linear;
}


body {
  margin: 0;
  padding: 0;
}

#ticks {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.car {
  background-color: purple;
  border: black 1px solid;
  text-align: center;
  color: white;
  width: 20px;
  height: 40px;
  padding: 2px;
  transform: translate(-20px, 0px);
}

.flip {
  transform: scaleX(-1);
}

.light {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: green;
  transform: translate(-10px, -40px) scale(2);
}

.speedlimit {
  width: 25px;
  height: 35px;
  border: black 1px solid;
  background-color: white;
  text-align: center;
  padding: 5px 0;
  transform: translate(-12px, -55px);
}

.destination {
  padding: 10px;
  border: black 1px solid;
  color: white;
}

#canvas {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 40px;
  bottom: 0px;
}